
/* Page styles
body {
    font-family: 'Courier New', monospace;
    background-color: #17AAE9;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0 0 1.5em;
}
*/


/* Navigation Menu container */
.menu {
    background-color: #004080;
	color:#fff;
    padding: 1.5rem 3rem;
   
}

/*title*/
.menu-title{
	font-size: 1.8rem;
	font-weight: bold;
	margin- bottom: 1rem;
}

/* navagation list*/

.menu-list{
	list-style:none;
	display: flex;
	gap: 3rem;
	margin-top:1rem;
	flex-wrap:wrap;
	padding: 0;
}

/*links for homepage*/
.menu-link{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease;
}
.menu-link :hover{
	color:#800080;
}



/* Photo styles */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 2rem;
    border-radius: 1rem;
    object-fit: cover;
    background-color: white; /* Added white background */
    padding: 10px; /* add padding around images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Responsive styles */
@media (max-width: 768px) {
	.menu-list{
		flex-direction: column;
		gap: 0.75rem;
	}
    .container {
        width: 90%;
        padding: 1rem;
    }

    .menu {
        padding: 0.5rem 0;
    }

    img {
        max-width: 100%;
    }
}